/*colors: #FF1b81 50%, #0D324D 100%); */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 3rem;
}

.formContainer {
    width: 100%;
    margin-top: 1rem;
}

.formText {
    color: #FF1b81;
}

.lineOne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.input {
    height: 2rem;
    width: 35%;
    color: #0D324D;
    font-size: 1.05rem;
    margin: 0;
    outline: none;
    border: none;
    border-bottom: 0.15rem solid #0D324D;
    background: none;
}

.input:focus {
    border-bottom: 0.2rem solid #0D324D;
    font-size: 1.08rem;
}

.submit {
    justify-content: center;
    padding-top: 1rem;
}

.submit button {
    background: none;
    font-size: 1.05rem;
    border: 0.15rem solid #0D324D;
    border-radius: 0.4rem;
    cursor: pointer;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    color: #0D324D;
    transition: all 0.3s ease;
    width: 200px;
}

.formsTitle {
    color: #0D324D;
}

.submit button:hover {
    background-color: #0D324D;
    border: 2px solid white;
    color: white;
}

@media (max-width: 750px) {
    .lineOne {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;


    }
    .input {
        width: 50%;
        margin-top: 10px;
    }
}